<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./style.css">
</head>
<body>
    <div id="container">
        <header>
            <h1>3-Column Layout</h1>
        </header>
        <main>
            <nav>
                <h2>Sidebar</h2>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor</li>
                </ul>
            </nav>
            <article>
                <h2>Content</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quibusdam nulla excepturi voluptates inventore alias assumenda ex dignissimos vero dolores, illo ut sit neque explicabo id fuga recusandae iusto pariatur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, beatae sit sed, veritatis voluptatum perferendis vel vero repellat atque magnam tempore minus praesentium iste aut ut laborum fugiat iure suscipit.</p>
            </article>
            <nav>
                <h2>Sidebar</h2>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor</li>
                </ul>
            </nav>
        </main>
        <footer>
            Copyright
        </footer>
    </div>
</body>
</html>